* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;
    --color-3: #FFFFFF;
    --spacing: 20px;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: -apple-system-short-body;
    text-align: center;
}

/** CUSTOM **/

.modalWrapper {
    width: 100%;
    max-width: 330px;
}

.controlTabs {
    display: flex;
    justify-content: center;
}

.controlTabs.margin_bottom_20 {
    margin-bottom: 15px;
}

.controlTabs .control_tab {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

.controlTabs .control_tab:hover {
    background: var(--color-3);
    color: #000;
}

.extensionName {
    font-weight: bold;
    font-size: 16px;
}

.manual_container {
    color: var(--color-3);
    display: none;
}

.manualWrapper {
    margin-top: 20px;
    text-align: left;
    display: none;
}

.manualWrapper.usage {
    display: none;
}

.manualWrapper .step {
     color: var(--color-3);
}

.manualWrapper .step .puzzleInfo {
    display: flex;
    align-items: center;
}

.manualWrapper .step {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.manualWrapper .step .point {
    width: 25px;
    height: 25px;
    display: block;
    background: var(--color-3);
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    color: #000;
    text-align: center;line-height: 25px;
}

.underline {
    text-decoration: underline;
}

.littleA {
    font-size: 12px;
}

html[controlTabsPlatform="ios"][controlTabsIosPlatform="iphone"] .controlTabs.controlTabsPlatform .control_tab:nth-child(1),
html[controlTabsPlatform="ios"][controlTabsIosPlatform="ipad"] .controlTabs.controlTabsPlatform .control_tab:nth-child(2),

/* Purpose Tab Active State */
html[controlTabsPurpose="activation"] .controlTabs.controlTabsPurpose .control_tab:nth-child(1),
html[controlTabsPurpose="usage"] .controlTabs.controlTabsPurpose .control_tab:nth-child(2) {
    background: var(--color-3);
    color: #000;
}

.mmanualContainer {
    display: none;
}

/* Ios Platform */
html[controlTabsPlatform="ios"][controlTabsIosPlatform="iphone"] .mmanualContainer.iphone {
    display: block;
}

html[controlTabsPlatform="ios"][controlTabsIosPlatform="ipad"] .mmanualContainer.ipad {
    display: block;
}

/* Platform */
html[controlTabsPlatform="mac"] .manual_container.mac {
    display: block;
}

html[controlTabsPlatform="ios"] .manual_container.ios {
    display: block;
}

/* Purpose */
html[controlTabsPurpose="activation"] .manualWrapper.activation {
    display: block;
}

html[controlTabsPurpose="usage"] .manualWrapper.usage {
    display: block;
}

.puzzleIcon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.puzzleIcon path {
    fill: var(--color-3);
}

.logoWrapper {
    text-align: center;
}

.logoIcon {
    width: 96px;
    height: 96px;
    display: inline-block;
}

html[controlTabsPlatform=mac] .logoIcon {
    width: 48px;
    height: 48px;
    display: inline-block;
}

/* Light Mode Styles*/

@media (prefers-color-scheme: light) {
    
    .manualWrapper .step {
        color: #000;
    }
    
    .puzzleIcon path {
        fill: #000;
    }
    
    .manualWrapper .step .point {
        background: #000;
        color: var(--color-3);
    }
    
    .controlTabs .control_tab:hover {
        background: #000;
        color: var(--color-3);
    }
    
    html[controlTabsPlatform="ios"][controlTabsIosPlatform="iphone"] .controlTabs.controlTabsPlatform .control_tab:nth-child(1),
    html[controlTabsPlatform="ios"][controlTabsIosPlatform="ipad"] .controlTabs.controlTabsPlatform .control_tab:nth-child(2),

    /* Purpose Tab Active State */
    html[controlTabsPurpose="activation"] .controlTabs.controlTabsPurpose .control_tab:nth-child(1),
    html[controlTabsPurpose="usage"] .controlTabs.controlTabsPurpose .control_tab:nth-child(2) {
        background: #000;
        color: var(--color-3);
    }
    
    .controlTabs .control_tab {
        color: #000;
    }
}
