.subScreenError {
    text-align: left;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: lighter;
    color: var(--color-9);
    display: none;
    padding-left: 15px;
    padding-top: 10px;
    line-height: 20px;
}

