@media (prefers-color-scheme: light) {
    
    /* Light */
    
    html[theme="light"], html[theme="auto"] {
        --color-1: #6F6F79;
        --color-1-hover: #5B5B64;
        
        --color-2: #878790;
        --color-3: #000;
        --color-4: #F6F6F6;
        --color-5: #DFDFE4;
        --color-6: #0F0F0F;
        
        --color-7: #1E64CF;
        --color-7-hover: #0F51B7;
        
        --color-8: #43BF35;
        --color-8-hover: #2CA91E;
        
        --color-9: #DE4639;
        --color-9-hover: #DA291A;
        
        --color-10: #a2a5ad;
        
        --color-11: #b6b6bb;
        --color-11-hover: #7A7A87;
    }
    
    /* Dark */
    
    html[theme="dark"] body {
        --color-1: #B9B9BD;
        --color-1-hover: #96969D;
        
        --color-2: #A4A4AA;
        --color-3: #FFFFFF;
        --color-4: #2C2C2E;
        --color-5: #3C3D41;
        --color-6: #0F0F0F;
        
        --color-7: #1E64CF;
        --color-7-hover: #0F51B7;
        
        --color-8: #60C454;
        --color-8-hover: #48B13B;
        
        --color-9: #EF6A5E;
        --color-9-hover: #DE4F42;
        
        --color-10: #57585B;
        
        --color-11: #9797a1;
        --color-11-hover: #7A7A87;
    }
}

@media (prefers-color-scheme: dark) {
    
    /* Dark */
    
    html[theme="dark"], html[theme="auto"] {
        --color-1: #B9B9BD;
        --color-1-hover: #96969D;
        
        --color-2: #A4A4AA;
        --color-3: #FFFFFF;
        --color-4: #2C2C2E;
        --color-5: #3C3D41;
        --color-6: #0F0F0F;
        
        --color-7: #1E64CF;
        --color-7-hover: #0F51B7;
        
        --color-8: #60C454;
        --color-8-hover: #48B13B;
        
        --color-9: #EF6A5E;
        --color-9-hover: #DE4F42;
        
        --color-10: #57585B;
        
        --color-11: #92929F;
        --color-11-hover: #7A7A87;
    }
    
    /* Light */
    
    html[theme="light"] {
        --color-1: #6F6F79;
        --color-1-hover: #5B5B64;
        
        --color-2: #878790;
        --color-3: #000;
        --color-4: #F6F6F6;
        --color-5: #DFDFE4;
        --color-6: #0F0F0F;
        
        --color-7: #1E64CF;
        --color-7-hover: #0F51B7;
        
        --color-8: #43BF35;
        --color-8-hover: #2CA91E;
        
        --color-9: #DE4639;
        --color-9-hover: #DA291A;
        
        --color-10: #a2a5ad;
        
        --color-11: #b6b6bb;
        --color-11-hover: #7A7A87;
    }
}
